{% extends 'base.html' %}
{% block head_title %}
Your Cart
{% endblock %}

{% block content %}
<div class="row">
{% if empty %}
<center>
    <h3 style="margin-top: 250px;">
        {{message}}
    </h3>
</center>
    
{% else %}
    <div class="col-sm-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <div class="col-lg-4">
                        <th>Item</th>
                    </div>
                    <div class="col-lg-4">
                        <th>Qty</th>
                    </div>
                    <div class="col-lg-4">
                        <th>Price</th>
                    </div>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        Total: ₹ {{cart.total}} 
                        <input class="form-check-input" type="hidden" id="disabledFieldsetCheck" disabled>
                        <label class="form-check-label" for="disabledFieldsetCheck">
                         (Tax Excluded)
                        </label>
                    </td>
                </tr>
            </tfoot>
            {% for item in cart.cartitem_set.all %}
            <tr>
                <div class="row">
                    <div class="col-sm-4">
                        <td>
                            {{item.product.title}}
                            {% if item.variations.all %}
                                <ul>
                                    {% for subitem in item.variations.all %}
                                        <li>
                                            {{subitem.category|capfirst}} : {{subitem.title|capfirst}}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </div>
                    <div class="col-sm-4">
                        <td>
                            {{item.quantity}}
                        </td>
                    </div>
                    <div class="col-sm-4">
                        <td>
                            <div class="row">
                                <div class="col-sm-9">
                                    ₹ {{item.product.price}}
                                </div>
                                <div class="col-sm-2">  
                                    <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger">Remove</a>
                                </div>
                            </div>
                        </td>
                    </div>
                </div>
            </tr>
            {% endfor %}
        </table>
        {% if not empty %}<a href="{% url 'checkout' %}" class="btn btn-outline-dark">checkout</a>{% endif %}
    </div>
</div>
{% endif %}
{% endblock %}