{% extends 'base.html' %}
{% load static %}

{% block head_title %}

{{product.title}}
{% endblock %}

{% block content %}

<hr>
<div class="row">
    <div class="col-sm-4">
        <h1 class="col-sm-10">{{ product.title }}</h1><br>
        {% for img in images %}
        <img class ="img-responsive" src="/media/{{MEDIA_URL}}{{img.image}}" style="max-width: 100%; max-height: 100%;">
        {% endfor %}
    </div>
    <div class="col-md-8">
        <div class="row">
            <form action="{% url 'add_to_cart' product.slug %}" class="form" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="row">
                        <div class="col-sm-3 d-grid gap-2 d-md-flex">
                            <input name="qty" type="number" placeholder="Quantity" min="1" max="1000" class="text-light form-control bg-dark" required>
                        </div>
                        {% if product.variation_set.all %}
                        <div class="col-sm-3 d-grid gap-2 d-md-flex">
                            <div class="col">
                                {% if product.variation_set.sizes %}
                                <select name="size" class="text-light form-control bg-dark" required>
                                    <option class="text-light" value="{{ item.title|lower }}" hidden>Size</option>
                                    {% for item in product.variation_set.sizes %}
                                        <option class="text-light">{{ item.title|capfirst }}</option>
                                    {% endfor %}
                                </select>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-3 d-grid gap-2 d-md-flex">
                            <div class="col">
                                {% if product.variation_set.colors %}
                                <select name="color" class="text-light form-control bg-dark" required>
                                    <option class="text-light" value="{{ item.title|lower }}" hidden>Color</option>
                                    {% for item in product.variation_set.colors %}
                                        <option class="text-light">{{ item.title|capfirst }}</option>
                                    {% endfor %}
                                </select>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-sm-3">
                            <input type="submit" value="Add to Cart" class="btn btn-outline-success float-end">
                        </div> 
                    </div>
                </div>
            </form>
        </div>
        <hr>
        <h4>
            Description<br>
            Price: ${{product.price}}<br>
        </h4>
        <hr>
        <div style="text-align: justify;">{{product.description|linebreaks}}</div>
        
    </div>
</div>

{% endblock %}